.detalle-pizza{
    display: flex;
    margin-top: 40px;
}
.img-pizza-seleccionada{  
    width: 400px;
    height: 400px;
}
.info-pizza{
    margin: 20px;
}
.name-pizza p:first-letter{
    text-transform: uppercase;
}
.name-pizza{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.listado-ingredientes{
    list-style:none; 
    padding-top: 10px;
}
.titulo-ingredientes{
    padding-top: 10px;
    font-weight: bold;
}
.boton-y-precio{
    display:flex;
    justify-content: space-between;
    align-items:center ;
    font-weight: bold;
}
.precio{
    font-size: 25px;
    font-weight: bold;
}